/*==============================
背景設定(レイアウト)
==============================*/
/*----------背景設定----------*/
.bg_white {
  background: $white;
}
.bg_blue {
  background: url(../img/bg_blue.png);
}
.bg_gray {
  background: $light_gray;
}
.bg_pattern_top {
  background: url(../img/bg_pattern_ttl.png) no-repeat;
  background-position: top center;
  background-size: 100%;
}
.bg_pattern_ttl {
  position: relative;
  height: 130px;
}
.bg_pattern {
  background: url(../img/bg_pattern.png) repeat-y;
  background-size: contain;
}

/*==============================
文字色
==============================*/
.color_white {
  color: $white;
}
.color_gray{
  color: $gray;
}
.color_red{
  color: $color_mailbox;
}
/*==============================
ボーダー設定
==============================*/
.border_bottom_red{
  border-bottom: solid 2px $color_mailbox;
}
/*==============================
中央揃え
==============================*/
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}
/*==============================
font-weight
==============================*/
.bold{
  font-weight: bold;
}
/*==============================
header
==============================*/
.header_side{
  align-items: center;
}
.header_left {
  max-width: 120px;
  width: 100%;
}
.header_right {
  width: 124px;
  align-items: center;
  .header_right_li {
    width: 34px;
    .btn_link {
      @include d_block;
      padding: 4px;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  @include mq(sp_md) {
    width: 104px;
    .header_right_li {
      width: 28px;
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
/*==============================
パンくず
==============================*/
.breadcrumbs{
  display: flex;
  .breadcrumbs_item:not(:last-child)::after{
    content: ">";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 4px; 
  }
}
/*==============================
footer
==============================*/
.footer_list_item {
  padding: 0 8px;
}
/*==============================
レイアウト内の要素
==============================*/
.account_box {
  border-radius: 50%;
  background: $white;
}
.account_name {
  color: $basic_color;
  font-size: $font_l;
  text-align: center;
}
.account_id {
  text-align: center;
}
// アカウントイメージ
.account_img_flame {
  max-width: 80px;
  padding: 20px;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 1px $light_gray;
  .account_img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center center;
  }
}
//アカウント
.account_icon {
  padding-left: 20px;
  padding-bottom: 4px;
  color: $gray;
}
// アカウントテキスト
.account_link_box {
  .account_link {
    text-align: right;
  }
}
// コンバージョンボタン
.cvr_btn_row {
  max-width: 640px;
  margin: 0 auto 32px;
}

/*============================
おたより・ポストcvrボタン
============================*/
.cvr_item {
  flex-basis: 50%;
  .cvr_btn {
    @include d_block;
    padding: 16px 16px 16px 28%;
    font-size: $font_n;
    font-weight: bold;
    position: relative;
    text-shadow: 0 0 1px $white, 0 0 2px $white, 0 0 2px $white, 0 0 2px $white, 0 0 2px $white, 0 0 2px $white,
      0 0 2px $white, 0 0 2px $white, 0 0 2px $white, 0 0 2px $white, 0 0 2px $white, 0 0 2px $white, 0 0 2px $white,
      0 0 2px $white, 0 0 2px $white, 0 0 2px $white;
    &::before {
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
    }
    .right_icon {
      position: absolute;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
    }
    @include mq(sp_md) {
      font-size: $font_ss;
      padding: 12px 12px 12px 30%;
    }
  }
}
.cvr_mailbox_btn {
  background: $color_mailbox;
  .cvr_btn {
    color: $color_mailbox;
    &::before {
      @include before(20%, 36px, absolute, #{url("../img/cvr_btn01.png") no-repeat});
    }
  }
}
.cvr_message_btn {
  background: $color_message;
  .cvr_btn {
    color: $color_message;
    &::before {
      @include before(20%, 36px, absolute, #{url("../img/cvr_btn02.png") no-repeat});
    }
  }
}

/*==============================
タイトル
==============================*/
.page_ttl {
  font-size: $font_ttl_m;
  @include mq(sp_md) {
    font-size: calc(1rem + ((1vw - 3.2px) * -2.1201));
    min-height: 0vw;
  }
}
// sectionタイトル
.sec_ttl {
  font-size: $font_n;
  font-weight: bold;
  letter-spacing: 0.05em;
}
//小見出し
.mini_ttl{
  font-size: 14px;
  font-weight: bold;
  border-bottom: solid 2px $color_light_pink;
  padding: 0 0 4px;
}

/*bg_pattern(Yourmailbox調整)*/
// タイトル
.bg_pattern_ttl {
  .sec_ttl {
    z-index: 20;
    text-align: center;
    font-size: $font_n;
    position: relative;
  }
  .ttl_en {
    @include d_block;
    text-align: center;
    max-width: 16%;
    padding-top: 28px;
    margin: 0 auto;
  }
  .ttl_jp {
    @include d_block;
    text-align: center;
    padding-top: 10px;
  }
}
// ポスト一覧
.mailbox_link {
  color: $white;
  background: $color_mailbox;
  padding: 16px;
  border-radius: 12px 12px 0 0;
  a {
    color: $white;
  }
}
.mailbox_info {
  font-size: $font_ss;
  color: $white;
  text-align: center;
}
.mailbox_info_red {
  @include d_inline_block;
  padding: 4px 8px;
  font-size: $font_ss;
  color: $white;
  border: solid 1px $white;
  border-radius: 10px;
  .info_no {
    font-size: $font_ss;
    margin: 0 0 0 3px;
  }
}
.mailbox_ttl {
  font-size: $font_n;
  font-weight: bold;
  color: $white;
  padding-bottom: 8px;
  border-bottom: dotted 2px $light_gray;
}
.mailbox_txt {
  line-height: 1.6;
}
.mailbox_link_area {
  justify-content: flex-end;
  .mailbox_link_icon {
    display: block;
    flex-basis: 28px;
    margin: 0 8px;
  }
}
/*==============================
送信確認画面
==============================*/
.message_enter_box{
  .message_close{
    display: block;
    max-width: 24px;
    width: 100%;
    margin-left: auto;
  }
  display: none;
  max-width: 600px;
  width: 96%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  z-index: 9999;
  background: $white;
  padding: 20px;
  .message_verification {
    min-height: 120px;
    color: $color_light_pink_font;
    border: solid 4px $color_mailbox;
    border-radius: 4px;
    padding: 16px;
  }
  .message_cancel{
    text-align: center;
      a{
      color: $color_message;
      border-bottom: 1px solid $color_message;
      padding-bottom: 2px;
    }
  }
}
/*==============================
ページネーション
==============================*/
.pagenation {
  display: flex;
  justify-content: center;
  align-items: center;
  .page {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
    a {
      display: inline-block;
      color: $color_mailbox;
      background: $white;
      padding: 8px 12px;
      border: 1px solid $color_mailbox;
      border-radius: 4px;
      text-decoration: none;
    }
  }
  .page.active {
    a {
      color: $white;
      background-color: $color_mailbox;
    }
  }
}
.mailbox{
  .pagenation {
    .page.active {
      a {
        color: $white;
        background-color: $color_mailbox;
        border: solid 1px $white;
      }
    }
  }
}
/*==============================
ページ内リンク
==============================*/
.page_link_item{
  font-weight: bold;
  border-bottom: solid 1px $light_gray;
  .page_link_item_link{
    display: block;
  }
}

/*==============================
パーツ関係(ボタン・アイコン)
==============================*/
.link_btn {
  position: relative;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  .position_right {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
  .position_left {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
  }
}
.link_btn_red {
  @include link_btn_red;
  @include d_block;
}

// ピンク枠リンクボタン
.link_btn_white {
  @include link_btn_white($border_color: #e6636c);
  @include d_block;
}
// 青枠リンクボタン
.link_btn_blue_line {
  @include link_btn_white($border_color: #6EB2E0,$font-color: #6EB2E0);
  @include d_block;
}
@mixin round_link_btn($right: 2%, $bottom: 16px) {
  position: fixed;
  right: $right;
  bottom: $bottom;
}

// 右下固定ボタン
.round_link_btn {
  &.btn01 {
    @include round_link_btn(calc(50% - 310px), 72px);
    @include mq(sp_max) {
      @include round_link_btn(2%, 72px);
    }
  }
  &.btn02 {
    @include round_link_btn(calc(50% - 310px), 16px);
    @include mq(sp_max) {
      @include round_link_btn(2%, 16px);
    }
  }
  .link {
    display: block;
    width: 100%;
    max-width: 48px;
    height: 48px;
    border-radius: 50%;
    height: auto;
  }
}
// 各種設定フォーム追加するボタン
.red_mini_button{
  color: #ffffff;
  background: $color_mailbox;
  padding:12px;
}


.copyright {
  text-align: center;
}

/*==============================
js用
==============================*/
/*----------モーダルウィンドウ用----------*/
.js_overlay {
  z-index: 3000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s;
}
#modalannounce {
  display: none;
}

/*==============================
お知らせモーダル中身
==============================*/
.announce_box {
  max-width: 430px;
  width: 80%;
  position: fixed;
  top: 60px;
  right: 2%;
  z-index: 9999;
  background: $white;
  padding: 10px;
  border-radius: 4px;
}
.announce_head {
  align-items: center;
  padding-bottom: 10px;
  .announce_ttl {
    font-size: $font_n;
    font-weight: bold;
  }
  .announce_setting {
    position: relative;
    padding-left: 16px;
  }
}
.head_topic_list_item {
  padding: 0 2%;
  &:first-child {
    border-top: solid 1px $light_gray;
  }
}
.txt_link_black {
  padding: 8px;
  border-bottom: solid 1px $light_gray;
  width: 100%;
  $left_item_width: 32px;
  .topic_item_left {
    flex-basis: $left_item_width;
    width: $left_item_width;
    margin-right: 12px;
    text-align: center;
  }
  .topic_item_right {
    flex-basis: calc(100% - 44px);
  }
}
.topic_item_right {
  .topic_item_category {
    font-size: $font_ss;
    background: $light_gray;
    padding: 4px 8px;
    border-radius: 8px;
    margin-right: 8px;
  }
  .topic_item_date {
    font-size: $font_sp_normal;
    color: $gray;
    padding-left: 12px;
  }
  .topic_item_txt {
    @include d_block;
    font-size: $font_sp_normal;
    padding-top: 12px;
  }
}
.announce_arc_link {
  text-align: center;
  padding: 10px 0;
  a {
    font-size: $font_sp_m;
    padding-right: 20px;
  }
}

/*==============================
おたよりを募集しようモーダル
==============================*/
/*----------モーダルウィンドウ用----------*/
#modalMessage {
  display: none;
}

.message_modal_box {
  background: $white;
  padding: 40px 16px;
  max-width: 480px;
  width: 92%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 2px;
  .message_modal_ttl {
    text-align: center;
    font-size: $font_ttl_m;
    font-weight: bold;
    .line {
      @include d_inline_block;
      border-bottom: solid 2px $color_light_pink;
    }
    &::before {
      @include before(32px, 32px, absolute, #{url("../img/batsu.svg")});
      right: 16px;
      left: auto;
      top: 16px;
    }
  }
}
.q1 {
  .q_txt {
    font-weight: bold;
    @include d_block;
    font-size: $font_n;
    text-align: center;
  }
  .bosyu_wrap {
    display: block;

    .message_modal_mailbox_list {
      font-size: $font_sp_m;
      .q_sub {
        font-size: $font_sp_normal;
        padding-left: 16px;
        display: inline-block;
      }
    }
  }
}
.q2 {
  input[type="checkbox"] {
    display: none;
  }
  .message_modal_mailbox_list {
    padding: 12px;
    @include d_block;
    color: $white;
    background: $color_message;
    margin: 8px;
  }
}
.message_modal_box {
  .cancel_btn {
    text-align: center;
    .cancel {
      font-size: $font_sp_m;
      color: $color_message;
      border-bottom: solid 2px $color_message;
      padding-bottom: 4px;
    }
  }
  input[type="submit" i] {
    @include d_block;
    border: none;
    @include link_btn_white($white, $color_message);
  }
}

/*----------アイコン選択----------*/
.topic_setting_icon{
  display: block;
  background: $icon_bg;
  padding: 8px;
}
.select_icon_blc{
  background:$white;
  padding: 16px;
  position: relative;
}
.select_icon_item{
  margin:0 2%;
  .select_icon_img{
    display: block;
    width: 64px;
    height: 64px;
    padding: 8px;
    background: $icon_bg;
    border: solid 3px $icon_bg;
  }
  .icon_name{
    text-align: center;
  }
}
input[type="radio"]:checked + .select_icon_img{
  border: solid 3px $color_mailbox;
}

/*==============================
ポスト内の項目
==============================*/
.message_nav {
  .message_nav_item {
    font-size: $font_sp_m;
    margin-bottom: 10px;
    a {
      color: $white;
      margin: 0 8px;
      padding-bottom: 4px;
    }
  }
  .current {
    a {
      border-bottom: solid 2px $white;
    }
  }
}
/*==============================
自分のポストに届いたおたより一覧
==============================*/
.mailbox {
  color: $white;
  background: $color_mailbox;
  padding: 30px 16px;
  border-radius: 12px 12px 0 0;
}
/*==============================
ポストを編集するボタン
==============================*/
.message_setting{
  width: 100%;
  max-width:140px;
  margin-left: auto;
  .message_setting_link{
    display: block;
    color: $white;
    border: solid 1px $white;
    padding: 10px;
    .icon{
      margin-right:8px;
    }
  }
}
.message_setting_radio_btn{
  margin: 0.5rem;
  position: relative;
  input[type="radio"]{
    position: absolute;
    opacity: 0;
    + label{
      &:before{
        content: '';
        background: #ffffff;
        border-radius: 100%;
        display: inline-block;
        width: 1.4em;
        height: 1.4em;
        position: relative;
        top: -0.2em;
        margin-right: 1em; 
        vertical-align: top;
        cursor: pointer;
        text-align: center;
        transition: all 250ms ease;
      }
    }
    &:checked{
      + label{
        &:before{
          background-color: $color_mailbox;
          box-shadow: inset 0 0 0 4px #ffffff;
        }
      }
    }
    &:focus{
      + label{
        &:before{
          outline: none;
          border-color: $gray;
        }
      }
    }
    &:disabled{
      + label{
        &:before {
          box-shadow: inset 0 0 0 4px $color_mailbox;
          border-color: darken($color_mailbox, 25%);
          background: darken($color_mailbox, 25%);
        }
      }
    }
    + .radio-label {
      &:empty {
        &:before {
          margin-right: 0;
        }
      }
    }
  }
}
/*==============================
手紙
==============================*/
.message {
  padding: 10px;
  border-radius: 4px;
  .message_inner {
    padding: 16px 4% 10px;
    .message_text {
      min-height: 140px;
      line-height: $font_sp_m;
    }
    .message_nav {
      justify-content: flex-end;
      position: relative;
      z-index: 2;
      a {
        color: initial;
        display: inline-block;
        .icon_space {
          margin-right: 2px;
        }
      }
    }
  }
}
.message_pattern {
  background: $white;
  position: relative;
  &::before {
    content: "";
    width: 108px;
    height: 50px;
    background: url(../img/bg_letter_pattern_top.svg) no-repeat;
    background-size: cover;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  &::after {
    content: "";
    width: 108px;
    height: 50px;
    background: url(../img/bg_letter_pattern_bottom.svg) no-repeat;
    background-size: cover;
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
  .message_inner {
    border-radius: 4px;
    border: dotted 2px $color_message;
    .message_text {
      font-size: $font_sp_m;
      color: $color_message;
      line-height: 2;
    }
    .message_nav {
      .message_nav_item {
        margin-right: 16px;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

/*==============================
手紙への返信
==============================*/
.answer{
  .answer_inner {
    background: #FD9F9F;
    padding: 16px 4% 10px;
    border-radius: 4px;
    .answer_text {
      min-height: 140px;
      line-height: 2.0;
      color: $white;
      font-weight: bold;
    }
    .answer_nav {
      justify-content: flex-end;
      position: relative;
      z-index: 2;
      a {
        color: initial;
        display: inline-block;
        .icon_space {
          margin-right: 2px;
        }
      }
    }
  }
}
// 文字数カウント
.text_count{
  text-align: right;
  color: $white;
}

/*==============================
ポストの設定画面
==============================*/
.select_icon_btn{
  max-width: 104px;
  width: 100%;
  background: $light_gray;
  border-radius: 4px;
  padding: 4px;
  .select_icon_btn_link{
    width: 100%;
    text-align: center;
  }
}
.message_setting_ttl{
  display: block;
}
.message_setting_txt{
  width: 100%;
  background: $white;
  padding: 8px;
}
.message_setting_txt_area{
  width: 100%;
  background: $white;
  min-height:160px;
  height: auto;
  padding: 4px;
}
/* チェックボックス */
input[type=checkbox] {
  display: none;
}
.wanted {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
  color: $white;
}
.wanted::before {
  background: #fff;
  border: 1px solid #231815;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.wanted::after {
  border-right: 3px solid #ed7a9c;
  border-bottom: 3px solid #ed7a9c;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}
input[type=checkbox]:checked + .wanted::after {
  opacity: 1;
}

.color_mailbox{
  color: $color_mailbox;
}

/*==============================
画像のアップロードのグレー
==============================*/
.upload_img{
  display: block;
  overflow: hidden;
  position: relative;
  &::before{
    display:inline-block;
    content:'';
    width: 100%;
    height: 100%;
    position:absolute;
    background:rgba(0,0,0,0.6);
    top:0;
    left:0;
    z-index:1;
  }
  &::after{
    display:inline-block;
    content:'';
    width: 40%;
    height: 40%;
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%); 
    background: url(../img/upload_camera.svg) no-repeat;
    background-size: contain;
    z-index:2;
  }
}

/*========枠のあるテキストボックス========*/
.border_box{
  border: solid 1px $light_gray;
}

/*========Webサイト登録部分========*/
.account_web_box:nth-child(n+2){
  border-top: dotted 2px $gray;
}
.account_txt_box_ttl{
  font-size: $font_sp_m;
}
.acccount_minus_btn{
  .acccount_minus_btn_link{
    color: $gray;
    font-size: $font_m;
    &:hover{
      color: #ffffff;
    }
  }
}
.account_plus_btn{
  width: 18px;
  text-align: center;
  margin: 0 auto;
}
// 各種設定のラジオボタン
.setting_checkitem_txt{
  background: $light_gray;
  padding: 12px 18px;
  border-bottom: solid 2px $gray;
}
.message_setting_btn:checked + .setting_checkitem_txt{
  background: $color_mailbox;
  color: #ffffff;
  border-bottom: solid 2px #ffffff;
}
// ミュートワード
.setting_mute_flex{
  .message_setting_txt{
    flex-basis: calc(100% - 80px);
  }
  .red_mini_button{
    flex-basis: 80px;
    width: 80px;
  }
}