/*==============================
padding調整
==============================*/
.u_pd16 {
  padding: 16px;
}

/*==============================
margin
==============================*/
//margin-top
.u_mt40 {
  margin-top: 40px;
}
.u_mb16 {
  margin-bottom: 16px;
}
.u_mb24 {
  margin-bottom: 24px;
}

// アカウント
.u_account_top {
  margin-bottom: 24px;
}
.u_account_mdl {
  margin-bottom: 24px;
}

// プロフィール
.u_section {
  margin-bottom: 24px;
}
// ログイン後トップ・ポストの背景調整
$u_bg_up: 78px;
.u_bg_next_up {
  padding-top: 16px;
  padding-bottom: $u_bg_up;
}
.u_bg_up {
  max-width: 640px;
  width: 100%;
  margin: -80px auto 0;
  .u_bg_patern_content {
    margin-top: -4px;
  }
}

.u_bg_patern_content {
  padding-bottom: 40px;
  border-bottom: solid 7px $color_post;
}
.u_post {
  margin-bottom: 24px;
}

.u_footer_list {
  padding: 14px 0 10px;
  .footer_list_item {
    margin: 0 8px 10px;
  }
}
